extends layout

block content
  h1= title

  form(id='moutainsForm', action="/resource/moutains", method="POST")
    div.form-group
      label.moutainsAttr(for='moutainsName') Moutains Name
      input#moutainsName.form-control(type='text', name='moutainsName', required)
    div.form-group
      label.moutainsAttr(for='Place') Moutains Place
      input#Place.form-control(type='text', name='Place', required)
    div.form-group
      label.moutainsAttr(for='height') Moutains Height
      input#height.form-control(type='number' min = 0, max = 5000,  name='height', required)
    input.btn.btn-primary(type="submit", value="Save")

  script.
    document.forms['moutainsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: Show a loading indicator or feedback to the user
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
        // TODO: Handle success, update UI or redirect
      }).catch((error) => {
        console.log('error==>',error);
        alert("Save failed " + error);
        // TODO: Handle error, provide user feedback
      });
    });
